.cart-Nav {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    text-align: center;
    margin-top: 20px;
}

.cart-Nav a{
    cursor: pointer;
    border: inherit 20px black;
    text-shadow: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.cart-Nav-description{
    display: grid;
    grid-template-columns: 40% 60%;
}

.cart-Nav-description img{
    margin-left: 90px;
    width: 50%;
}

.cart-Nav-description div p{
    text-align: center;
    font-size: 1.1em;
}

.cart-Nav-quantity{
    padding-top: 20px;
}

.cart-Nav-quantity input[type=number]{
    width: 50px;
}

.cart-Nav-removebtn{
    border: none;
    padding-top: 20px;
}

.cart-Result{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin-top: 20px;
    border: 20px initial black;
}